
h1{
    text-decoration-line: underline;
    text-align: center;
}



tr, td, th{
    border: 1px solid black;
}


img + img {
    margin-left: 350px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
}

div[class="5"] {
    margin: 20px 210px;



}

